.multipleContentsDiv, .multipleDiv {
    position: relative;
}
._contentBuilder {
    position: relative;
}
#multipleDiv_tukorea_26 {
    height: auto;
}
#multipleContentsDiv_tukorea_26 {
    max-width: 100%;
}
#multipleContentsDiv_tukorea_26 {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
#menu1004_obj842 {
    width: auto;
    height: 1100px;
    margin: 0px;
    display: flex;
    justify-content: center;
}
#menu1004_obj842 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
._obj {
    overflow: hidden;
    position: relative;
}
.slick-slide{
    position: relative;
    left: 0px;
    top: 0px;
    opacity: 1;
    width: 2000px;
    display: block;
}

#multipleDiv_titleArea{
    height: auto;
    padding: 90px 0;
}
#multipleDiv_titleArea::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 215px;
    background: #265aa6;

}
.multipleContentsDiv {
    max-width: 1400px;
    margin: 0 auto;
}

#multipleContentsDiv_titleArea{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
#multipleContentsDiv_titleArea::before{
    left: -90px;
}
#multipleContentsDiv_titleArea::after{
    right: 90px;
}
#multipleContentsDiv_titleArea::before, #multipleContentsDiv_titleArea::before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    top: 118px;
    background: #265aa6;
}

.title_wrap {
    width: auto;
    height: auto;
    margin: 0px;
}

.title_under_wrap{
    display: flex;
    width: auto;
    height: 170px;
    margin: 0px;
}

.wrap_kTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap_kTitle p {
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #265aa6;
    background: #FFF;
    padding: 0 10px;
    word-break: keep-all;
}

.wrap_kTitle p span {
    font-weight: 700;
    color: #009FB6;
}
.wrap_kTitle p i {
    font-weight: 700;
    color: #0091d3;
}
.mainTitle {
    line-height: 1 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #2759a5;
    margin-bottom: 50px;
}
.title_txt {
    font-size: 40px;
    margin-bottom: 0;
}
.mainTitle .span_1 {
    font-weight: 900;
}
.mainTitle .span_2 {
    font-weight: 600;
}
.mainTitle .span_3 {
    font-weight: 400;
}
.mainTitle .span_4 {
    font-weight: 300;
    color: #2759a5;
}

.wrap_calendar{padding: 90px 0;
    background: url("https://www.tukorea.ac.kr/sites/tukorea/images/main/sns_bg.jpg") no-repeat center bottom;
    background-size: cover;
}
.marquee-wrap{
    width: 100%;
    position: relative;
}
.marquee-wrap ul{
    display: flex;
    gap: 44px;
}
.marquee-wrap ul li a{
    display: block;
    width: 240px;
}

.loop_cont {
    display: flex;
    overflow: hidden;
    height: 108px;
    align-items: center;
    margin-bottom: 116px;
  }
  .banner {
    width: 240px;
    height: 60px;
    background-color: #009FB6;
    color: white;
    margin-right: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }

  .banner_list {
    display: flex;
    animation: roll 40s linear infinite;
  }

  /* 첫 번째 배너 리스트가 끝나면 뒤에 바로 두 번째 배너 리스트가 붙도록 설정 */
  .n1:last-child {
    animation-delay: 20s;
  }

.wrap_calendar_title{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 40px;
    position: relative;
    margin-bottom: 96px;
}
.wrap_calendar_title::before{
    content: "";
    display: block;
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("https://www.tukorea.ac.kr/sites/tukorea/fnct/schdulmain/tukorea_miniSche_fixed/images/calendar_bg_2.png");
}

.scheduleMain {
    width: 240px;
    position: relative;
}

.scheduleControl span {
    margin: 0 auto;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 161px;
    height: 185px;
    background: url("https://www.tukorea.ac.kr/sites/tukorea/fnct/schdulmain/tukorea_miniSche_fixed/images/calendar_bg_1.png") no-repeat center;
}

.scheduleControl span i.i_1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.scheduleControl span i.i_2 {
    font-size: 25px;
    font-weight: 500;
    padding: 5px 0 15px 0;
}

.scheduleControl span i.i_3 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.scheduleControl span i {
    display: block;
    color: #FFF;
}

.scheduleScroll {
    width: calc(100% - 320px);
    position: relative;
}

.scheduleScroll {
    margin-top: 80px;
}

.scheduleScroll::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    top: 3px;
}

.scheduleScroll ul {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.scheduleScroll li {
    text-align: center;
    width: 23%;
    margin: 0 1%;
    line-height: 1.25;
    word-break: keep-all;
}

.scheduleScroll li::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #95d3e6;
    margin: 0 auto;
}

.scheduleScroll li span {
    font-size: 18px;
    color: #FFF;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 20px 0 5px 0;
}

.scheduleScroll li strong {
    font-size: 18px;
    color: #95d3e6;
    font-weight: 400;
}

a.view_more_schedule {
    display: block;
    position: absolute;
    right: 20px;
    top: 72px;
}
._fnctWrap {
    position: relative;
    line-height: 1.5;
}

a.view_more_schedule span {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
a.view_more_schedule span::after {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background: url("https://www.tukorea.ac.kr/sites/tukorea/fnct/schdulmain/tukorea_miniSche_fixed/images/more_w.png") right center no-repeat;
}
  /* 롤링 애니메이션 정의 */
  @keyframes roll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }