body{
    margin: 0;
}
.search{
    display: flex;
    justify-content: center;
}
#search-input{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: var(--medium);
    padding: 15px 0px;
    border-radius: 30px;
    border: 0px;
    width: 600px;
    text-align: center;
}
#search-input::placeholder {
    color: rgb(169, 169, 169);
    font-size: var(--medium);
}
.icon{
    width: 35px; 
    height: 35px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}